.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

.paginate {
  background-color: violet;
  padding: 8px 11px;
  width: 70px;
  margin: 5px auto;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 400px;
  border-radius: 10px;
  margin: 10px;
  position: sticky;
}

.input {
  display: inline-block;
  padding: 12px 20px;
  border: none;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  padding-right: 3%;
}
