.headerBase {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: darkslateblue;
  z-index: 20;
  overflow: hidden;
}

.header {
  color: bisque;
}

.title {
  text-align: center;
  margin: 0;
}

.button {
  text-align: center;
  padding: 5px;
}
