.content {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 16px;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
