.singleProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 16px;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}

.title {
  font-size: 24px;
  color: darkviolet;
}

.price {
  color: green;
  font-size: 16px;
  font-weight: 600;
}

.desc {
  text-align: center;
  font-weight: 600;
  line-height: 30px;
  color: darkblue;
}

.rating {
  color: darkred;
  font-weight: 700;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
